body {
    margin: 0;
}

.game-zone {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #0c509e;
}

.fish {
    position: absolute;
    width: 150px;
    height: 100px;
    background-image: url("../img/fish1.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}